    <div class="card shadow mb-4 mt-4">
        <div class="card-header py-3">
            <a href="/admin/booking" class="btn btn-warning ml-2">Back</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableActivity" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Member Name</th>
                                    <th>From Bank</th>
                                    <th>Title</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td><%= booking.memberId.firstName %> <%= booking.memberId.lastName %></td>
                                <td><%= booking.payments.bankFrom %></td>
                                <td><%= booking.itemId.title %></td>
                                <td>$<%= booking.total %></td>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="col-md-4">


                    <% if(booking.payments.status === "Proses") { %>
                    <div class="row float-right mr-3">
                        <form action="/admin/booking/<%= booking.id %>/confirmation?_method=PUT" method="POST"
                            class="mr-3 ">
                            <button type="submit" class="btn btn-success  btn-sm">
                                <i class=" fas fa-check"> </i>
                                Confirmation
                            </button>
                        </form>
                        <form action="/admin/booking/<%= booking.id %>/reject?_method=PUT" method="POST"
                            class="g-col-6">
                            <button type="submit" class="btn btn-danger  btn-sm">
                                <i class=" fas fa-times"> </i>
                                Reject
                            </button>
                        </form>
                    </div>
                    <% } %>
                    <img src="https://admin-staycation-arrizky.herokuapp.com/<%= booking.payments.proofPayment %>"
                        class="mb-4" alt="payment proof" width="100%">
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>